img {
	width: 100%;
}

body {
    background-color: #419641;

}

.jumbotron {
    margin-top: 50px;
}

.jumbotron > .container {
    background-image: url("../../img/bier1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    min-height: 500px;
}

.jumbotron > .container > .zitat {
    width: 640px;
    font-size: 4em;
    background-color: lightgray;
    margin-top: 430px;
    font-family: 'Lobster', cursive;
    padding: 5px;
}

.jumbotron > .container > .zitat ::after {
    content: "_";

}

#pics img {
    height: 400px;

}

#text {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgray;
}